# Python
*/__pycache__/*
RecruitU-backend/__pycache__/*
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.venv/
env/
venv/
*.sqlite3
*.db

# Node/npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React build
build/
dist/

# Mac/Linux/OS
.DS_Store
Thumbs.db

# Ollama/LLM models (if large)
models/
*.gguf

# Misc
*.log
*.bak
*.swp
.idea/